* {
    padding: 0;
    margin: 0;
}

.contenu {
    background-image: url("../img/coliseu.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 267px;
}

.text {
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
    margin-bottom: 581px;
}