body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

div {
    width: 80%;
    background-color: #eee;
}

p {
    width: 75%;
    background-color: #BBB;
}


/* Pour être identique à l'image, la couleur de "h1" doit être blanche */

h1 {
    width: 80%;
    background-color: #888;
    color: rgb(248, 242, 242);
}

.scroll {
    overflow: hidden;
    overflow-y: scroll;
    width: 765px;
    height: 270px;
}

.texte {
    width: 747px;
}